@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    color: rgba(0, 0, 0, 0.619);
}

body {
    background: linear-gradient(27deg, rgba(224,255,0,1) 0%, rgba(103,208,70,1) 28%, rgba(231,162,0,1) 28%, rgba(223,0,0,1) 50%, rgba(219,0,0,1) 50%, rgba(0,164,236,1) 50%, rgba(114,96,195,1) 77%, rgba(236,217,0,1) 77%, rgba(236,47,0,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

i {
    transform: scale(1);
}

button {
    border: none;
}

h1 {
    color: rgba(0, 0, 0, 0.722);
    font-weight: 800;
}

#main-container {
    display: flex;
    justify-content: center;
    transform: translateY(100px);
    width: 100%;
    height: 100%;
}

#todo-panel {
    width: 500px;
    height: fit-content;
    min-height: 550px;
    background-color: rgb(237, 237, 237);
    padding: 10px;
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.441);
}

#todo-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 30px;
}
input {
    width: 100%;
    height: 40px;
    font-size: 24px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.259);
    background: rgba(0, 0, 0, 0.077);
    padding-left: 5px;
    margin: 10px 0;
}

input:focus {
    outline: none;
}

ul {
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    border-bottom: .5px solid rgba(0, 0, 0, 0.167);
    font-style: italic;
}

li > i:nth-child(2) {
    margin-left: auto;
}

li > i {
    margin: 0 10px;
}

.fa-check:hover {
    cursor: pointer;
    color: greenyellow;
    transition: .2s;
}

.fa-check:not(:hover) {
    transition: .2s;
}

.fa-trash-can:hover {
    cursor: pointer;
    color: crimson;
    transition: .2s;
}

.fa-trash-can:not(:hover) {
    transition: .2s;
}

.done span {
    text-decoration: line-through;
    text-decoration-color: rgba(0, 0, 0, 0.752);
    color: rgba(128, 128, 128, 0.844);
}

.fa-pen {
    transition: .2s;
    transform: scale(.75);
}

.fa-pen:hover {
    cursor: pointer;
    color: royalblue;
}

span:focus {
    outline: none;
    color: royalblue;
    transition: .5s;
    transform: scale(1.05);
}

span {
    transition: .5s;
}

#options {
    border-bottom: .7px rgb(128, 128, 128) solid;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
    height: 40px;
}

#point-container {
    width: 30%;
    border: 1px red solid;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#point-container select {
    transform: translateY(.5px);
    width: 30%;
    font-size: 21px;
    border: 2px rgba(83, 83, 83, 0.377) solid;
    border-radius: 5px;
}

#point-container select:focus {
    outline: 3px rgba(83, 83, 83, 0.207) solid;
    
}

#sort-container {
    width: fit-content;
    display: flex;
    align-items: center;
    border: 2px red solid;
}

#sort-container input {
    font-size: 10px;
    margin: 0 10px;
    width: 20px;
}

#sort-container label {
    color: rgba(0, 0, 0, 0.356);
    font-weight: 600;
}

#date {
    margin-right: 50px;
}